body {
  background-color: #343536;
  padding: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
section {
  margin: auto;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: #ffffff;
}
h3{
    color: #ffffff;
}
span{
    color: #ffffff;
    margin-bottom: 10px;
}

.disco1{
  width: 50px;
  height: 20px;
  text-align: center;
  border-radius: 2px ;
}
.disco2{
  width: 60px;
  height: 20px;
  text-align: center;
  border-radius: 2px ;
}
.disco3{
  width: 70px;
  height: 20px;
  text-align: center;
  border-radius: 2px ;
}
.disco4{
  width: 80px;
  height: 20px;
  text-align: center;
  border-radius: 2px ;
}
.disco5{
  width: 90px;
  height: 20px;
  text-align: center;
  border-radius: 2px ;
}
.disco6{
  width: 100px;
  height: 20px;
  text-align: center;
  border-radius: 2px ;
}
.disco7{
  width: 110px;
  height: 20px;
  text-align: center;
  border-radius: 2px ;
}
.disco8{
  width: 120px;
  height: 20px;
  text-align: center;
  border-radius: 2px ;
}
.disco9{
  width: 130px;
  height: 20px;
  text-align: center;
  border-radius: 2px ;
}
.Tabuleiro{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-around;
}
.torre1{
  width: 20px;
  background-color: black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.torre2{
  width: 20px;
  background-color: black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.torre3{
  width: 20px;
  background-color: black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.button_voltar {
  margin: 10px;
  color: #ffffff;
  background-color: blue;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 2px;
  border: none;
}
#modal_vitoria{
  width: 500px;
  height: 420px;
  background-image: url(https://i.pinimg.com/originals/81/e2/55/81e255e0ceeca98084787662c4f7814c.gif);
  color: #000;
  position: absolute;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.btn_sair{
  margin-left: auto ;
  color: #ffffff;
  background-color: gray;
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  font-weight: bold;
}
.h2_win{
  margin: auto;
  color: #ffffff;
}